.Movie{
    width: 400px;
    height: 500px;
    border: 1px solid black;
background-color: #61dafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MovieInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Movie img{
    width: 300px;
    height: 300px;
}